.user-track-container {
    margin: 3.5rem 0 0 0;
    height: 100vh;
    overflow-y: scroll;
    display: grid; 
    grid-template-columns:auto auto auto auto;
}

/* .song-image {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .song-title {
    display: flex;
    justify-content: center;
    align-items: center;
} */