@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
.Footer {
    background: #072C47;
    padding: 2rem 0;
    font-family: 'Montserrat', sans-serif;
}
  
.titleFooter {
    font-size: 25px;
    font-weight: 800;
    padding: 0.5rem 0;
}

.title01 {
    color: #0DBAD2;
}
  
.title02 {
    color: #EBEBEB;
}
  
.ft-1 p {
    padding: 0rem 5rem 0.8rem 0;
    font-weight: 500;
    color: #EBEBEB;
}
  
.footer-icons i {
    padding: 0.4rem 0.5rem;
    background: #EBEBEB;
    color: #072C47;
    margin: 1rem 0.5rem;
    border-radius: 50%;
    transition: 0.3s;
}
  
.footer-icons i:hover {
    background: #0DBAD2;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
  
.ft-2 ul {
    list-style: none;
    padding-left: 0;
}
  
.ft-2 ul li {
    padding: 0.35rem 0;
    font-weight: 500;
}
  
.ft-2 ul a {
    text-decoration: none;
    color: #EBEBEB;
    font-size: 17px;
}
  
.ft-3 p {
    font-weight: 500;
    color: #EBEBEB;
    padding: 0.1rem 0;
    font-size: 17px;
}
  
.ft-3 i {
    padding-right: 0.5rem;
}

.nav-item a{
    color: white;
    transition: 0.2s
}

.nav-item a:hover {
    color: #878787;
    transition: 0.2s;
}

.title-footer {
    font-weight: 700;
    color: #0DBAD2;
}